body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(231, 236, 236);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 280px;
  box-sizing: border-box;
}

.card {
  flex: 0 0 320px;
  padding: 20px;
  margin-left:15px;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #f20808, #05f231); /* Red to Yellow metallic gradient */
  color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
}

.apply-btn {
  background-image: linear-gradient(45deg, #08f256, #fd0d0d); 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #0c80d1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}
